/*font-family: 'Monoton', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Armata', sans-serif;
font-family: 'Sigmar One', cursive;
font-family: 'Julius Sans One', sans-serif;*/

.jumbotron{
	padding-left: 30px;
	height: 200px;
	background-color: lightgray;
}

.display-4{
	font-weight: bold;
	text-align: center;
	font-size: 32px;
	font-family: 'Monoton', cursive;
}

.instr{
	font-weight: bold;
	text-align: justify;
	font-size: 16px;
	font-family: 'Armata', sans-serif;
}

#container {
	background: url('../images/background.jpg');
	height: 960px;
}

#start{
	font-weight: bold;
	text-align: center;
	font-size: 24px;
	font-family: 'Audiowide', cursive;	
	padding: 100px;
	float: middle;
	margin-left: 300px;
}

#timeToGo{
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	font-family: 'Audiowide', cursive;	
	padding: 20px;
	float:right;
	background-color: lightgray;
}

#current{
	font-weight: bold;
	text-align: center;
	font-size: 12px;
	font-family: 'Audiowide', cursive;	
	padding: 20px;
	float: right;
	margin-top: 400px;
	background-color: lightgray;
}

.question{
	font-weight: bold;
	text-align: justify;
	font-size: 16px;
	font-family: 'Julius Sans One', sans-serif;	
	padding: 20px;
	float: middle;
	color: yellow;
	margin-left: 20px;
}


.choiceList{
	font-weight: bold;
	text-align: justify;
	font-size: 16px;
	font-family: 'Julius Sans One', sans-serif;	
	padding: 20px;
	float: middle;
	color: yellow;
	margin-left: 20px;
}


#message{
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	font-family: 'Audiowide', cursive;	
	padding: 20px;
	float: middle;
	color: yellow;
}

#corrected{
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	font-family: 'Audiowide', cursive;	
	padding: 20px;
	float: middle;
	color: yellow;
}

#pics{
	text-align: center;
	padding: 30px;
	float: middle;
}

#final{
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	font-family: 'Audiowide', cursive;	
	padding: 20px;
	float: middle;
	color: yellow;
}

#correct{
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	font-family: 'Audiowide', cursive;	
	padding: 20px;
	float: middle;
	color: green;
}

#incorrect{
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	font-family: 'Audiowide', cursive;	
	padding: 20px;
	float: middle;
	color: red;

}

#none{
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	font-family: 'Audiowide', cursive;	
	padding: 20px;
	float: middle;
	color: blue;
}




	





